<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%-15.15thread] %highlight(%-5level) %cyan(%-24.24logger{24}) - %msg %X%n%ex{short}</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.eclipse.jetty" level="INFO" />
    <logger name="io.netty" level="INFO" />
</configuration>